.gutters-0{
    padding: 0;
    margin: 0;
}
.user-card {
    height: 200px;
    border-radius: 25px;
}

.profile-pic-container {
    height: 90%;
}

.profile-pic {
    height: 100%;
    width: auto;
    border: solid #cbcbcb 1px;
}

.info-summary-container {
    height: 100%;
    padding: 10px;
}

.info-summary {
    position: relative;
    height: 100%;
}

.bio-info {
    margin-top: 20px;
}

.bottom-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.bottom-link > span {
    margin-left: -5px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}

.bottom-link > span:hover {
    background-color: #1e9bff;
}

.badge {
    margin-left: 5px;
}

.badge-orange {
    background-color: darkorange;
}